@charset "UTF-8";
.footer-page_social-link, .footer-page_social-list, .footer-page_email-subscribe-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-page_email-button, .footer-page_email-subscribe-text, .footer-page_contact-text, .footer-page_contact-telefon-item, .footer-page_contact-email-item, .footer-page_adress, .main-page_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.main-page_name, .hero-page_service_button, .window-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
}

.main-clients-page_title, .main-team-page_title, .main-zanyatya-page_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
}

.header__contact_modal, .header__page_modal, .header__contact, .header__page {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.header__pages-list_modal, .header__pages-list, .header-page_navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 100%;
  outline: solid rgba(0, 0, 0, 0);
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    outline: solid rgba(255, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    outline: solid rgba(255, 0, 0, 0);
    margin-left: auto;
    margin-right: auto;
  }
}

h1, h2, h3, h4, p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
}

/* хедер */
.header__webstudio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__page {
  letter-spacing: 0.02em;
  color: #212121;
}
@media screen and (min-width: 480px) {
  .header__page {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #000000;
    margin-right: 51px;
  }
}
.header__contact {
  letter-spacing: 0.02em;
  color: #757575;
}

.header__logocolor {
  color: #2196F3;
}

/* Флекс бокси */
.button {
  display: block;
  margin-left: 150px;
}
@media screen and (min-width: 480px) {
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: #fff;
    background: none;
    border-radius: 1px;
    border: none;
  }
}
@media screen and (min-width: 768px) {
  .button {
    display: none;
  }
}
.header-page .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

.header__webstudio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 93px;
}

.header__pages-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 480px) {
  .header__pages-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__pages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__page:hover {
  color: #2196F3;
  padding-bottom: 10px;
  border-bottom: 2px solid #2196F3;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__contacts-list {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-left: auto;
  margin-right: 30px;
}
@media screen and (min-width: 480px) {
  .header__contacts-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .header__contacts {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__contacts {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) {
  .header__phone {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 480px) {
  .header__email {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__contact-svg {
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (min-width: 480px) {
  .header__contact-svg {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__contact-svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__contact-svg:hover {
  fill: #2196F3;
}

.header-page_contacts-text:hover {
  color: #2196F3;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__contact {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.header__contact:hover {
  color: #2196F3;
}

.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}

.overlay.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.header_menu {
  width: 480px;
  height: 796px;
  margin: 0 auto;
  height: 100%;
  background-color: #fff;
}

.header__pages-list_modal {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 480px) {
  .header__pages-list_modal {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-right: 200px;
    margin-bottom: 302px;
  }
}
@media screen and (min-width: 768px) {
  .header__pages-list_modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__page_modal {
  letter-spacing: 0.02em;
  color: #212121;
}
@media screen and (min-width: 480px) {
  .header__page_modal {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
    display: block;
    margin-bottom: 35px;
  }
}
.header__contacts-list_modal {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-left: auto;
  margin-right: 30px;
}
@media screen and (min-width: 768px) {
  .header__contacts-list_modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__contact_modal {
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.header__contact_modal:hover {
  color: #2196F3;
}

.header__contact-svg_modal {
  fill: currentColor;
  margin-right: 10px;
}
@media screen and (min-width: 480px) {
  .header__contact-svg_modal {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__contact-svg_modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__contact-svg_modal:hover {
  fill: #2196F3;
}

@media screen and (min-width: 480px) {
  .header__email_modal {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
    margin-right: 140px;
    margin-top: 32px;
  }
}
@media screen and (min-width: 480px) {
  .header__phone_modal {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196F3;
    margin-right: 100px;
  }
}
.hero-page_header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 480px) {
  .hero-page_header {
    width: 480px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
@media screen and (min-width: 768px) {
  .hero-page_header {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-page_header {
    font-size: 44px;
    line-height: 60px;
  }
}

.window-text {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.hero-page_service_button {
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

/* Флекс бокси */
.hero-page {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}
@media screen and (min-width: 480px) {
  .hero-page {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  }
}
.contact-text {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

@media screen and (min-width: 480px) {
  .hero-page_header {
    width: 480px;
    padding-top: 118px;
  }
}
@media screen and (min-width: 768px) {
  .hero-page_header {
    width: 768px;
    padding-top: 118px;
    padding-left: 204px;
    padding-right: 204px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-page_header {
    width: 1200px;
    padding-top: 200px;
  }
}

.hero-page_service_button {
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 24px;
  padding-left: 24px;
  margin-top: 30px;
  border: none;
}
.close-window {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 29px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 22px;
  left: 490px;
}

.window-hero {
  width: 528px;
  height: 581px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 336px;
  position: relative;
  bottom: 200px;
}

.hero-page .container {
  padding-bottom: 200px;
}

.main-headers {
  width: 270px;
  height: auto;
  margin-right: 30px;
}

.hero-page_background-modal {
  position: absolute;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .hero-page_background-modal {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-page_background-modal {
    width: 528px;
  }
}

.hero-page_close-svg {
  position: absolute;
  right: 12px;
  top: 6px;
}
@media screen and (min-width: 480px) {
  .hero-page_close-svg {
    right: 25px;
  }
}
@media screen and (min-width: 768px) {
  .hero-page_close-svg {
    right: 12px;
    top: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-page_close-svg {
    right: 12px;
    top: 6px;
  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.hero-page_your-info-svg {
  position: absolute;
  margin-top: 14px;
  margin-left: 14px;
  fill: currentColor;
}
@media screen and (min-width: 480px) {
  .hero-page_your-info-svg {
    left: 30px;
  }
}
@media screen and (min-width: 768px) {
  .hero-page_your-info-svg {
    left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-page_your-info-svg {
    left: 30px;
  }
}

.hero-page_close {
  width: 30px;
  height: 30px;
  margin-top: 0px;
  margin-left: 490px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
@media screen and (min-width: 480px) {
  .hero-page_close {
    margin-left: 460px;
  }
}
@media screen and (min-width: 768px) {
  .hero-page_close {
    margin-left: 408px;
  }
}
.hero-page_close:hover {
  color: #2196F3;
}

.hero-page_modal-window-header {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-page_your-info-list {
  margin-left: 40px;
  display: block;
}

.hero-page_your-info-item {
  display: block;
  margin-bottom: 10px;
}

.hero-page_your-info-chexbox-agree {
  margin-left: 52px;
  position: absolute;
  left: 8px;
  top: 450px;
}

.hero-page_your-info-agree-with {
  margin-left: 80px;
  position: absolute;
  top: 425px;
  display: block;
}
.hero-page_your-info-send-info {
  display: block;
  position: relative;
  top: 12px;
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 58px;
  padding-right: 58px;
  color: #FFFFFF;
}
.hero-page_your-info-label {
  display: block;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  color: #757575;
}
@media screen and (min-width: 480px) {
  .hero-page_your-info-label {
    text-align: left;
  }
}
.hero-page_your-info-name {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .hero-page_your-info-name {
    width: 370px;
  }
}
.hero-page_your-info-comments {
  height: 120px;
  width: 448px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .hero-page_your-info-comments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .hero-page_your-info-comments {
    width: 370px;
  }
}
.info-input .backdrop-svg {
  position: relative;
}

@media screen and (min-width: 480px) {
  .main-page .container {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .main-page .container {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .main-page .container {
    width: 1200px;
    padding-top: 93px;
    padding-bottom: 94px;
  }
}

.main-page_name {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .main-page_name {
    padding-bottom: 10px;
  }
}

.main-page_text {
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 480px) {
  .main-page_headers {
    width: 450px;
    height: 120px;
    margin-bottom: 134px;
  }
}
@media screen and (min-width: 768px) {
  .main-page_headers {
    width: 354px;
    margin-bottom: 134px;
  }
}
@media screen and (min-width: 1200px) {
  .main-page_headers {
    width: 270px;
    margin-right: 30px;
  }
}

.main-page_headers::before {
  content: "";
  display: block;
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  border-radius: 4px;
  background-size: 70px;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.main-page_headers:nth-child(1)::before {
  background-image: url(../img/antenna.jpg);
}
@media screen and (min-width: 480px) {
  .main-page_headers:nth-child(1)::before {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .main-page_headers:nth-child(1)::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .main-page_headers:nth-child(1)::before {
    width: 270px;
  }
}

.main-page_headers:nth-child(2)::before {
  background-image: url(../img/clock.jpg);
}
@media screen and (min-width: 480px) {
  .main-page_headers:nth-child(2)::before {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .main-page_headers:nth-child(2)::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .main-page_headers:nth-child(2)::before {
    width: 270px;
  }
}

.main-page_headers:nth-child(3)::before {
  background-image: url(../img/diagram.jpg);
}
@media screen and (min-width: 480px) {
  .main-page_headers:nth-child(3)::before {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .main-page_headers:nth-child(3)::before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .main-page_headers:nth-child(3)::before {
    width: 270px;
  }
}

.main-page_headers:nth-child(4):before {
  background-image: url(../img/astronaut.jpg);
}
@media screen and (min-width: 480px) {
  .main-page_headers:nth-child(4):before {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .main-page_headers:nth-child(4):before {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .main-page_headers:nth-child(4):before {
    width: 270px;
  }
}

.main-page_texts {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .main-page_texts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .main-page_texts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.main-zanyatya-page_title {
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.main-zanyatya-page_working-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-zanyatya-page_title {
  margin-bottom: 50px;
}

.container .main-zanyatya-page_working-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-zanyatya-page_working-photo-item {
  width: 370px;
  margin-right: 30px;
}

.main-zanyatya-page_label-zanyatya {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  position: relative;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .main-zanyatya-page_label-zanyatya {
    bottom: 73px;
  }
}

.main-zanyatya-page_label-list {
  width: 0px;
  height: 0px;
}

.main-zanyatya-page .container {
  padding-bottom: 76px;
}
.main-zanyatya-page {
  display: none;
}
@media screen and (min-width: 1200px) {
  .main-zanyatya-page {
    display: block;
  }
}

.main-team-page_title {
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 480px) {
  .main-team-page_title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}
@media screen and (min-width: 1200px) {
  .main-team-page_title {
    padding-bottom: 50px;
  }
}

.main-team-page_team-profecion {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
@media screen and (min-width: 480px) {
  .main-team-page_team-profecion {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
  }
}
.main-team-page {
  background-color: #F5F4FA;
}

.main-team-page_team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 480px) {
  .main-team-page_team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 15px;
  }
}
@media screen and (min-width: 768px) {
  .main-team-page_team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .main-team-page_team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.main-team-page_team-item {
  width: 270px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .main-team-page_team-item {
    width: 450px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .main-team-page_team-item {
    width: 354px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .main-team-page_team-item {
    width: 270px;
  }
}

.main-team-page_team-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 480px) {
  .main-team-page_team-name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
}
.main-team-page .container {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-team-page_social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main-team-page_social-link {
  height: 40px;
  width: 44px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 29px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}
@media screen and (min-width: 480px) {
  .main-team-page_social-link {
    fill: #AFB1B8;
  }
}
.main-team-page_social-link:hover {
  background-color: #2196F3;
}

.main-clients-page_title {
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (min-width: 1200px) {
  .main-clients-page_title {
    padding-top: 94px;
  }
}

.clients .container {
  height: 388px;
}
@media screen and (min-width: 480px) {
  .clients .container {
    width: 450px;
    height: 399px;
  }
}
.main-clients-page_clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}
@media screen and (min-width: 480px) {
  .main-clients-page_clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 29px;
  }
}
@media screen and (min-width: 1200px) {
  .main-clients-page_clients-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.client-title {
  padding-top: 112px;
}

.main-clients-page_client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 90px;
  background-color: #ffffff;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  margin-right: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}
.main-clients-page_client-link:hover {
  fill: #2196F3;
}

.main-clients-page_client-icon {
  fill: #AFB1B8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.main-clients-page_client-icon:hover {
  fill: #2196F3;
}

@media screen and (min-width: 480px) {
  .main-clients-page_client-item {
    width: 210px;
    height: 92px;
    margin-bottom: 30px;
  }
}
footer .container div {
  outline: solid rgba(255, 0, 0, 0);
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
  footer .container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.footer_adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 480px) {
  .footer_adress {
    margin-left: 120px;
    margin-right: 120px;
  }
}
@media screen and (min-width: 768px) {
  .footer_adress {
    margin-left: 0;
    margin-right: 100px;
    margin-top: 30px;
    position: relative;
    right: 100px;
  }
}
.footer_social {
  padding-top: 60px;
}
@media screen and (min-width: 480px) {
  .footer_social {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .footer_social {
    position: relative;
    left: 350px;
    bottom: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .footer_social {
    left: 0;
    bottom: 0;
    width: 260px;
  }
}

/* Футер */
.footer-page_contact-list {
  padding-top: 20px;
}
.footer-page_email_subscribe {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer-page_email_subscribe {
    margin-left: 288px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-page_email_subscribe {
    margin-left: 0;
    margin-bottom: 0;
    position: relative;
    top: 80px;
  }
}

.footer-page_adress {
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
@media screen and (min-width: 480px) {
  .footer-page_adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer-page_webstudio-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .footer-page_webstudio-logo {
    font-size: 24px;
    line-height: 28px;
    height: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 163px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .footer-page_webstudio-logo {
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
    left: 70px;
  }
}
.footer-page_contact-email-item {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 480px) {
  .footer-page_contact-email-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer-page_contact-telefon-item {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 480px) {
  .footer-page_contact-telefon-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer-page_contact-text {
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer-page_contact-text {
    margin-left: 168px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-page_contact-text {
    margin-left: 0;
  }
}

.footer-page_webstudio-logo-color {
  color: #2196F3;
}

.footer-page_email-subscribe-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* Флекс бокси */
.footer-page {
  background-color: #2F303A;
  position: relative;
}

.footer-page_email-input {
  background: #2F303A;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
  width: 358px;
  padding-left: 50px;
  color: #FFFFFF;
}
@media screen and (min-width: 480px) {
  .footer-page_email-input {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .footer-page_email-input {
    margin-left: 166px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-page_email-input {
    margin-left: 0;
    padding-left: 14px;
    width: 358px;
  }
}

.footer-page_email-button {
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  text-align: left;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
}
@media screen and (min-width: 480px) {
  .footer-page_email-button {
    padding-left: 40px;
    margin-left: 140px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .footer-page_email-button {
    margin-left: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-page_email-button {
    margin-left: 12px;
    margin-top: 0;
  }
}

.footer-page_email-send-icon {
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
  position: relative;
}
@media screen and (min-width: 480px) {
  .footer-page_email-send-icon {
    bottom: 35px;
    left: 288px;
  }
}
@media screen and (min-width: 768px) {
  .footer-page_email-send-icon {
    left: 448px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-page_email-send-icon {
    left: 520px;
  }
}

.footer-page_contact-text {
  color: white;
  color: rgba(255, 255, 255, 0.6);
  position: relative;
}
@media screen and (min-width: 480px) {
  .footer-page_contact-text {
    bottom: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-page_contact-text {
    bottom: 0;
  }
}

@media screen and (min-width: 480px) {
  .footer-page_email-subscribe-text {
    text-align: center;
    margin-left: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-page_email-subscribe-text {
    margin-right: 250px;
  }
}

@media screen and (min-width: 480px) {
  .footer-page_social-list {
    margin-left: 137px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-page_social-list {
    margin-right: 250px;
  }
}

.footer-page_social-item {
  display: block;
  margin-right: 10px;
  fill: #FFFFFF;
}
@media screen and (min-width: 480px) {
  .footer-page_social-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer-page_social-svg {
  position: relative;
}
@media screen and (min-width: 480px) {
  .footer-page_social-svg {
    bottom: 30px;
    left: 12px;
  }
}
.footer-page_social-link {
  height: 40px;
  width: 44px;
  border-radius: 50px;
  background-color: #3b3b3b;
}
@media screen and (min-width: 1200px) {
  .footer-page_social-link {
    margin-top: 29px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__input-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 80px;
  }
}/*# sourceMappingURL=main.css.map */