.main-clients-page_title{
@extend%text-style3;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
        
.clients .container{
height: 388px;


@media screen and (min-width: 480px ){
width: 450px;
height: 399px;
}
@media screen and (min-width: 768px ){
     
}
@media screen and (min-width: 1200px ){
    
}
}
        
.main-clients-page_clients-list{
display: flex; 
justify-content: center ;
margin-top: 50px;


@media screen and (min-width: 480px ){
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-left: 29px;
}
@media screen and (min-width: 768px ){
                 
}   
@media screen and (min-width: 1200px ){
flex-wrap: nowrap;        
}   
}
        
.client-title{
padding-top: 112px;
}
        
.main-clients-page_client-link{
display: flex;
width: 170px;
height: 90px;
background-color: #ffffff;
border: 1px solid #AFB1B8; 
border-radius: 4px;
margin-right:  30px;
justify-content: center;
align-items: center;
transition-property: fill ;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
transition-delay: 250ms; 
&:hover{
fill: #2196F3;
}
} 
        
.main-clients-page_client-icon{
fill: #AFB1B8;
transition-property: fill ;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
transition-delay: 250ms; 
}
        
.main-clients-page_client-icon:hover{
fill: #2196F3;
}

.main-clients-page_client-item{


@media screen and (min-width: 480px ){
width: 210px;
height: 92px;
margin-bottom: 30px;
}
@media screen and (min-width: 768px ){
             
}
@media screen and (min-width: 1200px ){
            
}   
}