footer .container div{
    outline: solid  rgba(255, 0, 0, 0);
}

footer .container{
display: flex;
flex-wrap: wrap;
@media screen and (min-width: 768px ){
             
}
@media screen and (min-width: 1200px ){
flex-wrap: nowrap;
}
}


.footer_adress{
display: flex;
justify-content: center;
flex-wrap: wrap;


@media screen and (min-width: 480px ){
margin-left: 120px;
margin-right: 120px;

}
@media screen and (min-width: 768px ){
margin-left: 0;
margin-right: 100px;
margin-top: 30px;
position: relative;
right: 100px;
}
@media screen and (min-width: 1200px ){
      
}
}

.footer_social{
padding-top: 60px;


@media screen and (min-width: 480px ){
padding-bottom: 30px;
}
@media screen and (min-width: 768px ){
position: relative;
left: 350px;
bottom: 120px;
}
@media screen and (min-width: 1200px ){
left: 0;
bottom: 0;
width: 260px;

}
}

/* Футер */

.footer-page_contact-list{
padding-top: 20px;


@media screen and (min-width: 480px ){

}
@media screen and (min-width: 768px ){
                 
}
@media screen and (min-width: 1200px ){
          
}
}

.footer-page_email_subscribe{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;  


@media screen and (min-width: 480px ){

}
@media screen and (min-width: 768px ){
margin-left: 288px;
margin-bottom: 20px;          
}
@media screen and (min-width: 1200px ){
margin-left: 0;
margin-bottom: 0;
position: relative;
top: 80px;

}
}

.footer-page_adress{
@extend %text-style;
letter-spacing: 0.03em;
color: #FFFFFF;


@media screen and (min-width: 480px ){
display: flex;
justify-content: center;
}
@media screen and (min-width: 768px ){
                   
}
@media screen and (min-width: 1200px ){
              
}
}
    
.footer-page_webstudio-logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #ffffff;


@media screen and (min-width: 480px ){
font-size: 24px;
line-height: 28px;
height: 28px;
display: flex;
justify-content: center;
margin-left: 163px;
margin-top: 60px;
}
@media screen and (min-width: 768px ){
margin-top: 0px;
margin-left: 0px;
position: relative;
left: 70px;
}
@media screen and (min-width: 1200px ){
  
}
}
    
.footer-page_contact-email-item{
@extend%text-style;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);


@media screen and (min-width: 480px ){

display: flex;
justify-content: center;
}
@media screen and (min-width: 768px ){
        
}
@media screen and (min-width: 1200px ){
          
}
}
    
.footer-page_contact-telefon-item{
@extend%text-style;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);


@media screen and (min-width: 480px ){

display: flex;
justify-content: center;
}
@media screen and (min-width: 768px ){
               
}
@media screen and (min-width: 1200px ){
          
}
}
    
.footer-page_contact-text{
@extend%text-style;
letter-spacing: 0.03em;
color: #FFFFFF;   


@media screen and (min-width: 480px ){


}
@media screen and (min-width: 768px ){
margin-left: 168px;       
}
@media screen and (min-width: 1200px ){
margin-left: 0;      
}
}
    
.footer-page_webstudio-logo-color{
color: #2196F3;  
}
    
.footer-page_email-subscribe-text{
@extend%text-style;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;  
}
    
/* Флекс бокси */
.footer-page{
background-color: #2F303A;
position: relative;
}
    
.footer-page_email-input{
background: #2F303A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
width: 200px;
height: 30px;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
height: 50px;
width: 358px;
padding-left: 50px;
color: #FFFFFF;


@media screen and (min-width: 480px ){
width: 450px;

}
@media screen and (min-width: 768px ){        
margin-left: 166px;       
}
@media screen and (min-width: 1200px ){
margin-left: 0;
padding-left: 14px;
width: 358px;
}
}
    
.footer-page_email-button{
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
width: 200px;
height: 50px;
text-align: left ;
@extend%text-style;
font-weight: 700;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
border: none;
border-radius: 4px;
color: #FFFFFF;


@media screen and (min-width: 480px ){
padding-left: 40px;
margin-left: 140px;
}
@media screen and (min-width: 768px ){
margin-left: 300px;        
}
@media screen and (min-width: 1200px ){
margin-left: 0; 
}
}
    
.footer-page_email-send-icon{
width: 24px;
height: 24px;
fill: #FFFFFF;;
position: relative;

@media screen and (min-width: 480px ){
bottom: 35px;
left: 288px;
}
@media screen and (min-width: 768px ){
left: 448px;         
}
@media screen and (min-width: 1200px ){
left: 520px;
}
}
    
.footer-page_contact-text{
color: white;
color: rgba(255, 255, 255, 0.6);
position: relative;

@media screen and (min-width: 480px ){
bottom: 35px;
}
@media screen and (min-width: 768px ){

}
@media screen and (min-width: 1200px ){
bottom: 0;
}
}
    
.footer-page_email-subscribe-text{
@extend%flex;




@media screen and (min-width: 480px ){
text-align: center;
margin-left: 100px;
}
@media screen and (min-width: 768px ){


}
@media screen and (min-width: 1200px ){
margin-right: 250px;       
}
}
    
.footer-page_social-list{
@extend%flex;



@media screen and (min-width: 480px ){
margin-left: 137px;
}
@media screen and (min-width: 768px ){

}
@media screen and (min-width: 1200px ){
margin-right: 250px;     
}
}
    
.footer-page_social-item{
display: block;
margin-right: 10px;
fill: #FFFFFF;


@media screen and (min-width: 480px ){
align-items: center;
}
@media screen and (min-width: 768px ){

}
@media screen and (min-width: 1200px ){
    
}
}
    
.footer-page_social-svg{
position: relative;

@media screen and (min-width: 480px ){
bottom: 30px;
left: 12px;
}
@media screen and (min-width: 768px ){
    
}
@media screen and (min-width: 1200px ){

}
}
    
.footer-page_social-link{
height: 40px;
width: 44px;
border-radius: 50px;
@extend%flex;
background-color: #3b3b3b;


@media screen and (min-width: 480px ){

}
@media screen and (min-width: 768px ){

}
@media screen and (min-width: 1200px ){
margin-top: 29px;        
}
}

.footer_input{
@media screen and (min-width: 1200px ){

}

}

.footer__input-list{
    @media screen and (min-width: 1200px ){
display: flex;
padding-top: 80px;
    }   
}