
    
/* хедер */
.header__webstudio{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
    
.header__page{
@extend%text-style4;
letter-spacing: 0.02em;
color: #212121;




@media screen and (min-width: 480px) {
display: none;

}
@media screen and (min-width: 768px) {
display: flex;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #000000;
margin-right: 51px;
}
@media screen and (min-width: 1200px) {
              
}


}


.header__contact{
@extend%text-style4;
letter-spacing: 0.02em;
color: #757575;
}
    
.header__logocolor{
color: #2196F3;  
}
    
    
    
    
    
/* Флекс бокси */
.button{
display: block;
margin-left: 150px;


@media screen and (min-width: 480px) {
display:flex ;
outline: #fff;
background: none;
border-radius: 1px;
border: none;
}
@media screen and (min-width: 768px) {
display: none;
}
@media screen and (min-width: 1200px) {
          
}
}



.header-page .container {
display: flex;
align-items: center;
height: 80px;
}
    
.header-page_navigation{
@extend%flex2;
}
    
.header__webstudio{
display: flex;
align-items: flex-start;
margin-right: 93px;
}
    
.header__pages-list{
@extend%flex2;
justify-content: center;


@media screen and (min-width: 480px) {
display: none;
}
@media screen and (min-width: 768px) {
display: flex;

}
@media screen and (min-width: 1200px) {
      
}
}
    

    
.header__page:hover{
color: #2196F3;
padding-bottom: 10px;
border-bottom: 2px solid #2196F3;
transition: 0.2s;
}
    
.header__contacts-list{
justify-content: end;
margin-left: auto;
margin-right: 30px;



@media screen and (min-width: 480px) {
    display: none;
}
@media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
}
@media screen and (min-width: 1200px) {
      
}
}

.header__contacts{


@media screen and (min-width: 480px) {

}
@media screen and (min-width: 768px) {
margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
margin-right: 30px;     
margin-bottom: 0; 
}
}

.header__phone{
@media screen and (min-width: 480px) {
display: none;
}
@media screen and (min-width: 768px) {
display: flex;
}
@media screen and (min-width: 1200px) {
          
}
}
.header__email{

    
@media screen and (min-width: 480px) {
display: none;
}
@media screen and (min-width: 768px) {
display: flex;
}
@media screen and (min-width: 1200px) {
                  
}
}


.header__contact-svg{
fill: currentColor;
margin-right: 10px;

@media screen and (min-width: 480px) {
display: none;
}
@media screen and (min-width: 768px) {
display: flex;
}
@media screen and (min-width: 1200px) {
      
}
}
    
.header__contact-svg:hover{
fill: #2196F3;
}
    
.header-page_contacts-text:hover{
color: #2196F3;
}
    
.header__contact{
display: flex ;
justify-content: center;
}
    
.header__contact{
transition-property: color ;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
transition-delay: 250ms;
}
    
.header__contact:hover{
color: #2196F3;
}

.overlay{
width: 100%;
height: 100%;
position: fixed;
background: rgba(0,0,0,0.6);
top: 0;
left: 0;
}
.overlay.is-hidden{opacity: 0;
pointer-events: none;
transition: all 0.2s ease-in;
}
.header_menu{
width: 480px;
height: 796px;
margin: 0 auto;
height: 100%;
background-color: #fff;


@media screen and (min-width: 480px) {
display: flex;
flex-direction: column;

}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 1200px) {
       
} 
}
    
// МОДАЛКА
.header__modal_open{
width: 30px;
height: 30px;
background: none;
margin-left: 448px
}

.header__pages-list_modal{
@extend%flex2;

    
    
@media screen and (min-width: 480px) {
flex-wrap: wrap;
display: flex;
flex-direction: column;
padding-right: 200px;
padding-bottom: 302px;
}
@media screen and (min-width: 768px) {
display: flex;
}
@media screen and (min-width: 1200px) {
          
} 
}

.header__page_modal{
@extend%text-style4;
letter-spacing: 0.02em;
color: #212121;
    
    
@media screen and (min-width: 480px) {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
text-align: center;
letter-spacing: 0.02em;
color: #212121;
display: block;
margin-bottom: 35px;
    
}
@media screen and (min-width: 768px) {
    
}
@media screen and (min-width: 1200px) {
                  
}
}

.header__contacts-list_modal{
justify-content: end;
margin-left: auto;
margin-right: 30px;
    
    
@media screen and (min-width: 480px) {

}
@media screen and (min-width: 768px) {
display: flex;
}
@media screen and (min-width: 1200px) {
          
}    
}

.header__contact_modal{
@extend%text-style4;
letter-spacing: 0.02em;
color: #757575;  

transition-property: color ;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
transition-delay: 250ms;
}

.header__contact_modal:hover{
color: #2196F3;
}

.header__contact-svg_modal{
fill: currentColor;
margin-right: 10px;
    
@media screen and (min-width: 480px) {
display: none;
}
@media screen and (min-width: 768px) {
display: flex;
}
@media screen and (min-width: 1200px) {
          
}   
}

.header__contact-svg_modal:hover{
fill: #2196F3;
}

.header__email_modal{

    
@media screen and (min-width: 480px) {
display: block;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.02em;
color: #757575;     
margin-right: 140px;     
margin-bottom: 34px;
}
@media screen and (min-width: 768px) {
                    
}
@media screen and (min-width: 1200px) {
                          
}
}

.header__phone_modal{
@media screen and (min-width: 480px) {
display: block;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 40px;  
letter-spacing: 0.02em;
color: #2196F3;
margin-right: 100px;
margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
            
}
@media screen and (min-width: 1200px) {
                  
}  
}

.header__social_modal-list{
display: flex;
}

.header__social_modal-item{
margin-right: 20px;
}

.header__social_modal-text{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
letter-spacing: 0.02em;
color: #2196F3;
}

