.main-team-page_title{
@extend%text-style3;
text-align: center;
letter-spacing: 0.03em;
color: #212121;


@media screen and (min-width: 480px) {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 33px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
    
}
@media screen and (min-width: 768px) {
    
}
@media screen and (min-width: 1200px) {
padding-bottom: 50px;  
}
}
        
    
        
.main-team-page_team-profecion{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #757575;


@media screen and (min-width: 480px) {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;  
text-align: center;
letter-spacing: 0.03em;   
color: #757575;
}
@media screen and (min-width: 768px) {
            
}
@media screen and (min-width: 1200px) {
            
}
}

.main-team-page{
background-color: #F5F4FA;
}
        
    
        
.main-team-page_team-list{
display: flex;
justify-content: center;


@media screen and (min-width: 480px) {
display: flex;
flex-wrap: wrap;
margin-left: 15px;
}
@media screen and (min-width: 768px) {

}
@media screen and (min-width: 1200px) {
display: flex;
flex-wrap: nowrap;
}
}
        
.main-team-page_team-photo{
width: 270px;


@media screen and (min-width: 480px) {
width: 450px;
height: 460px;
}
@media screen and (min-width: 768px) {
width: 354px;
height: 374px;        
}
@media screen and (min-width: 1200px) {
width: 270px;
height: 260px;        
}
}
        
    
        
.main-team-page_team-item{
width: 270px;
height: 428px;
background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
margin-right: 30px;


@media screen and (min-width: 480px) {
width: 450px;
height: 622px;

}
@media screen and (min-width: 768px) {
width: 354px;
height: 536px;     
}
@media screen and (min-width: 1200px) {
width: 270px;
height: 428px;      
}
}
        
.main-team-page_team-name{
display: flex;
justify-content: center;


@media screen and (min-width: 480px) {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;   
}
@media screen and (min-width: 768px) {
            
}
@media screen and (min-width: 1200px) {
            
}
}

.main-team-page .container{
background-color: #F5F4FA;
padding-top: 94px;
padding-bottom: 94px;
}

.main-team-page_social-list{
display: flex;
justify-content: center;


@media screen and (min-width: 480px) {

}
@media screen and (min-width: 768px) {
            
}
@media screen and (min-width: 1200px) {
            
}

}
        
.main-team-page_social-link{
height: 40px;
width: 44px;
border-radius: 50px;
display: flex;
justify-content: center;
margin-top: 29px;
transition-property: background-color ;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
transition-delay: 250ms;


@media screen and (min-width: 480px) {
fill:#AFB1B8;
}
@media screen and (min-width: 768px) {
            
}
@media screen and (min-width: 1200px) {
            
}
}
            
.main-team-page_social-link:hover{
background-color: #2196F3;
}