.container{
    width: 1200px;
    outline: solid rgb(255, 0, 0);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    }
    
    /* хедер */
    .header-page_webstudio{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .header-page_page{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    }
    .header-page_contacts-link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    }
    
    .header-page_logocolor{
    color: #2196F3;  
    }
    
    
    
    
    
    /* Флекс бокси */
    .header-page .container {
    display: flex;
    align-items: center;
    height: 80px;
    }
    
    .header-page_navigation{
    display: flex;
    align-items: center;
    }
    
    .header-page_webstudio{
    display: flex;
    align-items: flex-start;
    margin-right: 93px;
    }
    
    .header-page_pages-list{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    }
    
    .header-page_page{
    margin-right: 55px;
    }
    
    .header-page_contacts-list{
    display: flex;
    justify-content: end;
    margin-left: auto;
    margin-right: 30px;
    }
    
    .header-page_contacts-svg{
    fill: currentColor;
    margin-right: 10px;
    }
    
    .header-page_contacts-svg:hover{
    fill: #2196F3;
    }
    
    .header-page_contacts-text:hover{
    color: #2196F3;
    }
    
    .header-page_contacts-link{
    display: flex ;
    justify-content: center;
    }
    
    .header-page_contacts-link{
    transition-property: color ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 250ms;
    }
    
    .header-page_contacts-link:hover{
    color: #2196F3;
    }



    /* меїн пф */
.main-page_buttons-text{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.03em;
color: #000000;
}
    
.main-page_photos-text{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
letter-spacing: 0.06em;
color: #212121;   
}
    
.main-page_photos-proect{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
letter-spacing: 0.03em;
color: #757575;
}
    /* Флекс бокси */
.main-page_buttons-list{
display: flex;
justify-content: center;
}
    
.main-page_photos-item{
position: relative;
margin-top: 32px;
}

.main-page_buttons-item{
padding-right: 8px;
background: #F5F4FA;
border-radius: 4px;
}
    
.main-page_buttons-text:hover{
background-color: #2196F3;
}

.main-page_buttons-text{
background: #ffffff;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;
border-color: #FFFFFF;
transition-property: background-color ;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
transition-delay: 250ms;
}

.main-page_photos-list{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 30px;
}

.main-page_photos-owerlay{
height: 294px;
width: 370px;
left: 0px;
top: 0px;
border-radius: 0px;
opacity: 0;
display: block;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
padding-bottom: 63px;
padding-top: 63px;
padding-left: 24px;
padding-right: 24px;
color: #FFFFFF;
transition-property: background-color ;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
transition-delay: 250ms;
}   

.main-page_photos-owerlay:hover{
background: rgba(33, 150, 243, 0.9);
opacity: 1;
}

/* Футер */
.footer-page_adress{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.footer-page_webstudio-logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #ffffff;
}

.footer-page_contact-email-item{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-page_contact-telefon-item{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-page_contact-text{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;   
}

.footer-page_webstudio-logo-color{
color: #2196F3;  
}

.footer-page_email-subscribe-text{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;

}

/* Флекс бокси */
.footer-page{
background-color: #2F303A;
position: relative;
}

.container .footer-page{
height: 252px;
}

.footer-page_email-input{
position: absolute;
right: 240px;
top: 35px;
background: #2F303A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
width: 200px;
height: 30px;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
height: 50px;
width: 358px;
padding-left: 50px;
color: #FFFFFF;
}

.footer-page_email-button{
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
position: absolute;
right: 33px;
top: 35px;
width: 200px;
height: 50px;
text-align: left ;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
border: none;
border-radius: 4px;
color: #FFFFFF;
}

.footer-page_email-send-icon{
width: 24px;
height: 24px;
position: absolute;
right: 60px;
top: 45px;
fill: #FFFFFF;;
}

.footer-page_contact-text{
color: white;
position: relative;
left: 620px;
bottom: 50px;
color: rgba(255, 255, 255, 0.6);;
   
}

.footer-page_email-subscribe-text{
display: flex;
justify-content: center;
margin-right: 250px;
position: relative;
bottom: 100px;
}

.footer-page_social-list{
display: flex;
justify-content: center;
margin-right: 250px;
bottom: 100px;
position: relative;
}

.footer-page_social-item{
display: block;
margin-right: 10px;
fill: #FFFFFF;
position: relative;
    
}

.footer-page_social-svg{
position: relative;
bottom: 30px;
left: 12px;
}

.footer-page_social-link{
height: 40px;
width: 44px;
border-radius: 50px;
display: flex;
justify-content: center;
margin-top: 29px;
background-color: #3b3b3b;
}

