.container{
    width: 1200px;
    outline: solid rgb(255, 0, 0);
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Портфоліо */

/* Хеадер пф */
.header-webstudio-pf{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    
    .header-link-pf{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #212121;
    }
    
    .contact-link-pf{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
    }
    
    .logo-color-pf{
    color: #2196F3;  
    }
    /* Флекс бокси */
    .header-section-pf .container {
        display: flex;
        align-items: center;
        height: 80px;
     }
    
     .header-navigation-pf{
        display: flex;
        align-items: center;
        }
        
    .header-navigation{
        display: flex;
        align-items: center;
    } 
    
    .header-webstudio-pf{
        display: flex;
        align-items: flex-start;
    }
    
    .header-list-pf{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-left: 93px;
    }
    
    .header-item-pf{
        margin-right: 55px;
    }
    
    .header-contacts-pf{
        display: flex;
        justify-content: end;
        margin-right: 50px;
    }

    .contact-link-pf{
        display: flex ;
        justify-content: end;
        margin-left: 90px;
        transition-property: color ;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        transition-delay: 250ms;
    }
    
    .contact-link-pf:hover{
     color: #2196F3;
    }

    .header-link-pf{
        transition-property: color ;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        transition-delay: 250ms;
    }

    .header-link-pf:hover{
     color: #2196F3;
    }
    
    /* меїн пф */
    .main-button-text-pf{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
    }
    
    .main-text-pf{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;   
    }
    
    .main-profecion-pf{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
    }
    /* Флекс бокси */
    .main-buttons-pf{
    display: flex;
    justify-content: center;
    }
    
    .main-list-pf{
    position: relative;
    }

    .main-button-pf{
    padding-right: 8px;
    }
    
     .main-button-text-pf:hover{
    background-color: #2196F3;
     }

     .main-button-text-pf{
    background: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border-color: #FFFFFF;
    transition-property: background-color ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 250ms;
     }

    .main-photos-pf{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

    .owerlay-pf{
    height: 294px;
    width: 370px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    opacity: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 63px;
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
    color: #FFFFFF;
    transition-property: background-color ;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 250ms;
    }   

    .owerlay-pf:hover{
        background: rgba(33, 150, 243, 0.9);
         opacity: 1;
    }

     /* футер пф */
    .footer-webstudio-pf{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #ffffff;
    }


    .footer-adress-pf{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;   
    }
    
    .footer-tel-pf{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);    
    }
    
    .footer-email-pf{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);  
    }
    
    .logo-color-footer-pf{
    color: #2196F3;  
    }
    /* Флекс бокси */
    .footer-pf{
    background-color: #2F303A;
    
    }
    
    .footer-pf .container{
    background-color: #2F303A;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    