.container{
    width: 1200px;
    outline: solid red;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* хедер */
.webstudio-header{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #000000;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-link{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #212121;
}
.contact-link{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;
color: #757575;
}

.logo-color{
color: #2196F3;  
}

/* Флекс бокси */
.header-section .container {
display: flex;
align-items: center;
height: 80px;
}

.header-navigation{
display: flex;
align-items: center;
}

.webstudio-header{
display: flex;
align-items: flex-start;
margin-right: 93px;
}

.header-list{
display: flex;
justify-content: center;
align-items: flex-start;

}

.header-item{
margin-right: 55px;
}

.header-contacts{
display: flex;
justify-content: end;
margin-left: auto;
}



 /* герой */
.hero-section-h1{
font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}
 /* Флекс бокси */
.hero-section{
background-image:linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
background-size: contain;
}

.hero-section-h1{
padding-top:200px;
}

.main-button{
background-color: #2196F3;
display: block;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
padding-bottom: 21px;
padding-top: 21px;
padding-right: 24px;
padding-left: 24px;
}

.hero-section .container{
    padding-bottom: 200px;  
}



.main-headers{
    width: 270px;
    height: auto;
    margin-right: 30px;
}

/* Меїн */
.main-button{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
}


.main-name{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.main-text{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #757575;
}

.main-working-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}

.main-team-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.main-team-profecion{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}

/* Флекс бокси */
.main-pluses .container {
padding-top: 93px;
padding-bottom: 94px ;
    
}

.main-headers::before{
    content:"";
    display: block;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.main-headers::before :nth-child(1){
background-image: url(../img/antenna.jpg);
background-size: 70px, 70px;
}

.main-headers::before :nth-child(2){
    background-image: url(../img/clock.jpg);
    background-size: 70px, 70px;
}

.main-headers::before :nth-child(3){
    background-image: url(../img/diagram.jpg);
    background-size: 70px, 70px;
    }

.main-headers::before :nth-child(4){
    background-image: url(../img/astronaut.jpg);
    background-size: 70px, 70px;
}

.main-texts{
display: flex;
justify-content: center;
}

.main-working-list{
display: flex;
}

.main-team{
background-color: #F5F4FA;
}

.main-team-title{
    margin-bottom: 50px;
}

.container .main-working-list{
justify-content: center;
}

.main-team-list{
display: flex;
justify-content: center;
}

.main-team-photo{
width: 270px;
}

.main-working-photo{
width: 370px;
}

.main-team-photo{
padding-right: 30px;
}

.main-working-title{
display: flex;
justify-content: center;
}
 .main-zanyattya .container{
padding-top: 94px;
padding-bottom: 76px;
 }

 .main-team .container{
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
 }
/* Футер */
.footer-webstudio{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
letter-spacing: 0.03em;
color: #ffffff;
}

.footer-contact-email{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-contact-tel{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.footer-adress{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
color: #FFFFFF;   
}

.logo-color-footer{
    color: #2196F3;  
}
/* Флекс бокси */
.footer{
background-color: #2F303A;
}

